@font-face {
    font-family: 'Halo';
    src: url('../images/Halo.ttf') format('truetype'), /* Safari, Android, iOS */
}

.answerchoice {
    border: 1px solid black;
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: white;
}

img {
    max-height: 250px;
    width: auto;
}

#answerblock {
    text-align: center;
}

#questionblock {
    text-align: center;
    font-weight: bold;
}

.answerchoice {
    height: 75px;
    margin: 20px;
    padding: 15px;
}

#reset {
    visibility: visible;
}

body {
    background-image: url("../images/halohud.jpg");
    background-size: cover;
    font-family: 'Halo', sans-serif;
    font-size: 45px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 20px;
    font-size: 80px;
}

p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 30px;
}

h2, h4 {
    margin: 30px;
    font-weight: bold;
}

.wrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #403fd3;
    height: auto;
    width: 60%;
    text-align: center;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    position: relative;
    font-size: 30px;
    background-color: rgba(0, 0, 255, 0.4);
}

.btn:hover {
    background-color: rgba(0, 0, 255, 0.6);
}
